[submodule "orgnote-cli"]
	path = orgnote-clie
	url = git@github.com:Artawower/orgnote-cli.git
[submodule "web-roam"]
	path = web-roam
	url = git@github.com:Artawower/web-roam.git
[submodule "orgnote-client"]
	path = orgnote-client
	url = git@github.com:Artawower/orgnote-client.git
[submodule "second-brain-backend"]
	path = second-brain-backend
	url = git@github.com:Artawower/second-brain-backend.git
