[submodule "second-brain-publisher"]
	path = second-brain-publisher
	url = git@github.com:Artawower/second-brain-publisher.git
[submodule "web-roam"]
	path = web-roam
	url = git@github.com:Artawower/web-roam.git
[submodule "second-brain-parser"]
	path = second-brain-parser
	url = git@github.com:Artawower/second-brain-parser.git
[submodule "second-brain-client"]
	path = second-brain-client
	url = git@github.com:Artawower/second-brain-client.git
