[submodule "second-brain-publisher"]
	path = second-brain-publisher
	url = git@github.com:Artawower/second-brain-publisher.git
  branch = master
[submodule "web-roam"]
	path = web-roam
	url = git@github.com:Artawower/web-roam.git
  branch = master
[submodule "second-brain-client"]
	path = second-brain-client
	url = git@github.com:Artawower/second-brain-client.git
  branch = master
[submodule "second-brain-backend"]
	path = second-brain-backend
	url = git@github.com:Artawower/second-brain-backend.git
  branch = master
