# Mac os
.DS_Store
.AppleDouble
.LSOverride
node_modules/
.pnpm-debug.log
node_modules/*
moonbrain/.DS_Store
index.js
dist/*
second-brian-parser/dist
.env

backend/app/media/*
# Frontend build directory
frontend/*

orgnote-client/
orgnote-backend/
orgnote-cli/
orgnote-api/
org-mode-ast/
orgnote-el/
orgnote.el/
orgnote-old/
orgnote-extensions/
web-roam/

plans
.serena
